{% extends "base.html"%}

{% block title %}
<title>แกลอรีข้อมูล</title>
    {% endblock %}

    {% block content %}
     <!-- Section: แกลอรีข้อมูลประกันสังคม -->
<section class="py-5 bg-white">
    <div class="container">
      <h2 class="text-center mb-4">เกี่ยวกับเรา</h2>
      <div class="row g-4">
        <div class="col-md-4 col-sm-6">
          <div class="card shadow-sm h-100">
            <img src="https://images.pexels.com/photos/518244/pexels-photo-518244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="สิทธิรักษาพยาบาล">
            <div class="card-body">
              <h5 class="card-title">การบริการ</h5>
              <p class="card-text">ของเรามุ่งมั่นที่จะให้บริการและจำหน่ายอุปกรณ์ไอทีคุณภาพสูงสำหรับทุกความต้องการของลูกค้า ไม่ว่าจะเป็น</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card shadow-sm h-100">
            <img src="https://picsum.photos/600/400?random=11" class="card-img-top" alt="สิทธิคลอดบุตร">
            <div class="card-body">
              <h5 class="card-title">เวลาทำการ</h5>
              <p class="card-text">เวลาทำการ
                ร้านของเราเปิดให้บริการทุกวันตั้งแต่เวลา 09:00 น. ถึง 20:00 น. ท่านสามารถมาเยี่ยมชมและเลือกซื้อสินค้าหรือรับคำปรึกษาจากทีมงานของเราในช่วงเวลานี้ได้เลยค่ะ</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card shadow-sm h-100">
            <img src="https://picsum.photos/600/400?random=12" class="card-img-top" alt="ชราภาพ">
            <div class="card-body">
              <h5 class="card-title">ประวัติความเป็นมาของร้าน</h5>
              <p class="card-text">ร้านของเราเปิดดำเนินการมาตั้งแต่ปี 2555 หรือกว่า 10 ปีที่ผ่านมา โดยเริ่มต้นจากความตั้งใจในการนำเสนออุปกรณ์ไอทีคุณภาพสูงให้กับลูกค้าในพื้นที่ของเรา ด้วยความมุ่งมั่นที่จะเป็นผู้นำในด้านการจำหน่ายสินค้าเทคโนโลยีที่ตอบสนองทุกความต้องการของผู้ใช้ เรามีทั้งสินค้าคอมพิวเตอร์, อุปกรณ์เสริม และบริการที่ครอบคลุมการใช้งานหลากหลายประเภท

                ตลอดระยะเวลากว่า 10 ปี</p>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </section>
  
    {% endblock%}